* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Bebas";
    src: url("../fonts/bebas.ttf");
}

@media only screen and (min-width: 800px) {

    body{
        background-color: #eee;
    }

    #erro{
        background-color: red;
        text-align: center;
        color: white;
        font-family: "Bebas";
        font-size: 2.5vw;
    }

    #inssImg{
        float: left;
        margin-left: 32%;
        width: 15%;
        height: 10vw;
        margin-top: 2%;
    }

    #irpfImg{
        float: left;
        margin-left: 52%;
        width: 15%;
        height: 10vw;
        margin-top: -9.9%;
    }

    form{
        float: left;
        margin-top: 6%;
        margin-left: -28%;
        font-family: "Bebas";
        font-size: 2vw;
        color: #003772;
    }

    input{
        width: 75%;
        height: 2vw;
    }

    #nome{
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #renda{
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #inss{
        margin-top: 5%;
    }

    #echoTexto{
        position: absolute;
        font-family: "Courier New";
        font-size: 1.5vw;
        margin-top: 16%;
        color: black;
        background-color: white;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }

    #echoDados{
        position: absolute;
        top: 20vw;
        text-align: center;
        font-family: "Courier New";
        background-color: white;
        overflow: auto;
        width: 100%;
    }

}

@media only screen and (max-width: 799px) {
    body{
        background-color: #eee;
        max-width: 100%;
    }

    #erro{
        background-color: red;
        text-align: center;
        color: white;
        font-family: "Bebas";
        font-size: 2.5vw;
    }

    #inssImg{
        float: left;
        margin-left: 32%;
        width: 45vw;
        margin-top: 2%;
    }

    #irpfImg{
        float: left;
        margin-left: 33%;
        width: 40vw;
        margin-top: 2%;
    }

    form{
        float: left;
        margin-top: 8%;
        margin-left: 25%;
        font-family: "Bebas";
        font-size: 8vw;
        color: #003772;
    }

    input{
        width: 75%;
        height: 8vw;
    }

    #nome{
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #renda{
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #inss{
        margin-top: 5%;
    }

    #echoTexto{
        position: absolute;
        font-family: "Courier New";
        font-size: 5vw;
        margin-top: 78%;
        color: black;
        background-color: white;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }

    #echoDados{
        position: absolute;
        top: 90vw;
        text-align: center;
        font-family: "Courier New";
        background-color: white;
        overflow: auto;
        width: 100%;
    }

}